<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @userprofile.id %>
</p>

<p>
  <b>First name:</b>
  <%= @userprofile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @userprofile.last_name %>
</p>

<p>
  <b>Nt login:</b>
  <%= @userprofile.nt_login %>
</p>

<p>
  <b>Department:</b>
  <%= @userprofile.department.department %>
</p>

<p>
  <b>Phone number:</b>
  <%= @userprofile.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @userprofile.email %>
</p>

<p>
  <b>Job title:</b>
  <%= @userprofile.job_title %>
</p>

<p>
  <b>Created on:</b>
  <%= @userprofile.created_on %>
</p>


<%= link_to 'Edit', edit_userprofile_path(@userprofile) %> |
<%= link_to 'Back', userprofiles_path %>
