<!DOCTYPE html>
<html>
<head>
  <title>ProjectTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <%= csrf_meta_tags %>
  <meta name="google-signin-client_id" content="195180783539-qeihuitl6b202ou1dp32me7ik6e04bnk.apps.googleusercontent.com">
</head>
<body>
    <div id="main-container" class="container">
      <header>
        <div id="login" class="g-signin2" data-onsuccess="onSignIn"></div>
        <div id="header">
            <h1>Project Tracker</h1>
            <p class="pCustom">A simple project tracker for everyday use!</p>
        </div>
          <nav>
                    <ul>
                      <li><%= link_to 'Projects', projects_path %></li>
                      <li><%= link_to 'User Profiles', userprofiles_path %></li>
                      <li><a href="#">Administration</a>
                        <ul>
                          <li><%= link_to 'Status', statuses_path %></li>
                          <li><%= link_to 'Priority', priorities_path %></li>
                          <li><%= link_to 'Department', departments_path %></li>
                          <li><%= link_to 'Category', categories_path %></li>
                          <li><%= link_to 'Version', versions_path %></li>
                          <li><%= link_to 'Role', roles_path %></li>
                        </ul>
                      </li>
                    </ul>
          </nav>
      </header>
		<div id="content" class="col-xs-12" style="min-height:400px;">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
            <%= yield %>
		</div>
        <div id="footer">
              <div id="footerLinks">
                  <ul class="footer-links">
                    <li>&copy 2015 Bill and Dan</li>
                    |
                    <li>About</li>
                    |
                    <li>Contact</li>
                  </ul>
              </div>
          </div>
    </div>

    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut()
            document.getElementById('loggedIn').remove();
        }

        function onSignIn() {
            var auth2 = gapi.auth2.getAuthInstance();
            if (auth2.isSignedIn.get()) {
                var profile = auth2.currentUser.get().getBasicProfile();
                var loginProfile = document.createElement('div');
                loginProfile.id = 'loggedIn';
                loginProfile.innerHTML = '<p class="pCustom">' + profile.getName() + '</p><a href="#" onclick="signOut()">Sign Out</a>';
                document.getElementById('login').appendChild(loginProfile);
            }
        }
    </script>
</body>
</html>