<!DOCTYPE html>
<html>
<head>
  <title>ProjectTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="main-container" class="container">
      <header>
        <div id="header">
            <h1>Project Tracker</h1>
            <p class="sample">A simple project tracker for everyday use!</p>
        </div>
        <div id="nav">
          <nav>
                    <ul>
                      <li><%= link_to 'Projects', projects_path %></li>
                      <li><%= link_to 'User Profiles', userprofiles_path %></li>
                      <li><a href="#">Administration</a>
                        <ul>
                          <li><%= link_to 'Status', statuses_path %></li>
                          <li><%= link_to 'Priority', priorities_path %></li>
                          <li><%= link_to 'Department', departments_path %></li>
                          <li><%= link_to 'Category', categories_path %></li>
                          <li><%= link_to 'Version', versions_path %></li>
                          <li><%= link_to 'Role', roles_path %></li>
                        </ul>
                      </li>
                    </ul>
          </nav>
		</div>
      </header>
		<div id="content" class="col-xs-12" style="min-height:400px;">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
            <%= yield %>
		</div>
        <div id="footer">
              <div id="footerLinks">
                  <ul class="footer-links">
                    <li>&copy 2015 Bill and Dan</li>
                    |
                    <li>About</li>
                    |
                    <li>Contact</li>
                  </ul>
              </div>
          </div>
    </div>
</body>
</html>