<h1>Projects</h1>

<table class="defaultTable">
  <tr>
    <th>Project name</th>
    <th>Department</th>
    <th>Submitted by</th>
    <th>Status</th>
    <th>Version</th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.project_name, project %></td>
        <td><%= project.department.department %></td>
        <td><%= project.submitted_by %></td>
        <td><%= project.status.status %></td>
        <td><%= project.version.version_name %></td>
        <td>
          <%= link_to 'Edit', edit_project_path(project) %>
          | <%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Project', new_project_path %>
