<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2">
     <b>Project name:</b>
  </div>
  <div class="col-sm-10">
    <%= @project.project_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Department:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.department.department %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Description:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.description %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Return on investment:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.return_on_investment %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Submitted by:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.submitted_by %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Status:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.status.status %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Created on:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.created_on %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Version:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.version.version_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Category:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.category.category %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <b>Deliver date:</b>
  </div>
  <div class="col-sm-10">
  <%= @project.deliver_date %>
</div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
