<%= form_for(@project_task) do |f| %>
    <% if @project_task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_task.errors.count, "error") %> prohibited this project_task from being saved:</h2>

          <ul>
            <% @project_task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :task_name %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :task_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :description %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :description, :cols => 80, :rows => 5  %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :project %>
      </div>
      <div class="col-sm-10">
        <%= f.collection_select(:project_id, Project.all, :id, :project_name, prompt: true) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :priority %>
      </div>
      <div class="col-sm-10">
        <%= f.collection_select(:priority_id, Priority.all, :id, :priority, prompt: true) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :assigned_to %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :assigned_to %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :category %>
      </div>
      <div class="col-sm-10">
        <%= f.collection_select(:category_id, Category.all, :id, :category, prompt: true) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :start_date %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :start_date, :class => 'date-picker' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :end_date %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :end_date, :class => 'date-picker' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :version %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :version %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= f.label :status %>
      </div>
      <div class="col-sm-10">
        <%= f.collection_select(:status_id, Status.all, :id, :status, prompt: true) %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
