<h1>Project Tasks</h1>

<table class="defaultTable">
  <tr>
    <th>Task Name</th>
    <th>Description</th>
    <th>Project</th>
    <th>Assigned to</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Version</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @project_tasks.each do |project_task| %>
  <tr>
    <td><%= link_to project_task.task_name, project_task %></td>
    <td><%= project_task.description %></td>
    <td><%= project_task.project.project_name %></td>
    <td><%= project_task.assigned_to %></td>
    <td><%= project_task.start_date %></td>
    <td><%= project_task.end_date %></td>
    <td><%= project_task.version.version_name %></td>
    <td><%= project_task.status %></td>
    <td><%= link_to 'Edit', edit_project_task_path(project_task) %> | <%= link_to 'Destroy', project_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project task', new_project_task_path %>
