<p id="notice"><%= notice %></p>

<p>
  <b>Role name:</b>
  <%= @role.role_name %>
</p>

<p>
  <b>Description:</b>
  <%= @role.description %>
</p>

<p>
  <b>Created by:</b>
  <%= @role.created_by %>
</p>

<p>
  <b>Created on:</b>
  <%= @role.created_on %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
